body {
    background: #f9fafb;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    /*padding: 30px;*/
  }

.home .main_img {
    width: 100%;
    position: absolute;
}

.address_search {
    background-color: white;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    border-radius: 2px;
}

.search_wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}